{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="my-2">
        <a href="{% url 'story:story-list' %}" class="mdl-color-text--purple">
            <!-- {% trans "Home" %} &gt; {% trans "Privacy Policy" %} -->
            <i class="material-icons" role="presentation">home</i>
            &gt; Privacy Policy &gt;
        </a>
    </div>
    <div class="line mb-3"></div>

    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp mx-auto">
        <div class="container p-4">
            <center>
                <p class="h3">Coming Soon</p>
            </center>
        </div>
    </div>

</div>


{% endblock %}




