{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% load i18n %}


{% block  title %}
<div class="jumbotron jumbotron-fluid mdl-typography--text-center px-3" style="background-color: #dfd7e5;">
    <h1 class="h1 mdl-color-text--purple-600">
        Welcome To Our Site!
    </h1>
    <p class="lead mx-auto">
        Sharing the true lives stories to society to fight harmful traditional practices.
    </p>
    <p class="lead mx-auto">
        Together we fight harmful traditional practices.
    </p>

</div>
{% endblock title %}



{% block content %}

{% for obj in story_data %}
{% if obj.is_available == True %}
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
    <div class="container p-3">
        <p class="txt-color h4">
            {{obj.title|capfirst|truncatechars:30}}
        </p>
        <p class="h5">
            {{obj.content|safe|capfirst|truncatechars:200}}
        </p>
        <p class="txt-color h6">
            On {{obj.date|date}} | By {{obj.publisher|capfirst}}
        </p>
        <div class="line"></div>
        <a href="{% url 'story:story-detail' obj.id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color--purple-600 mdl-color-text--white text-uppercase">
            Read More
        </a>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock content %}



