{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}

<div class="container">
    <div class="my-2">
        <a href="{% url 'story:story-list' %}" class="mdl-color-text--purple">
            <i class="material-icons" role="presentation">home</i>
            &gt; Details &gt;
        </a>
    </div>
    <div class="line mb-3"></div>

    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp mx-auto">
        {% if ids.video_url %}
            <div class="mb-0">
                <video controls controlsList="nodownload" poster="{{ids.thumbnail}}" src="{{ids.video_url}}" width="100%" style="height: 480px;">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        {% endif %}
        
        <div class="container p-4">
            <p class="txt-color h4">
                {{ids.title|capfirst}}
            </p>
            {% if ids.author %}
                <p class="mdl-color-text--red-600 h6">
                    Author: {{ids.author|capfirst}}
                </p>
            {% endif %}
            <p class="lead">
                {{ids.content|safe|capfirst|linebreaks}}
            </p>
            <p class="txt-color h5">
                On {{ids.date|date}} | By {{ids.publisher|capfirst}}
            </p>

        </div>
    </div>

</div>


{% endblock %}




