{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% load i18n %}
{% block content %}

<div class="container">
    <div class="my-2">
        <a href="{% url 'tips:tip-list' %}" class="mdl-color-text--purple">
            <i class="material-icons" role="presentation">list</i>
            &gt; Details &gt;
        </a>
    </div>
    <div class="line mb-3"></div>

    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp mx-auto">
        {% if ids.image_url %}
            <div class="mb-0">
                <img src="{{ids.image_url}}" width="100%" class="img-fluid card-img-top border" role="img">
            </div>
        {% endif %}
        <div class="container p-4">
            <p class="txt-color h4">
                {{ids.title|capfirst}}
            </p>
            <p class="lead">
               {{ids.content|safe|capfirst|linebreaks}}
            </p>
            <p class="txt-color h5">
                On {{ids.date|date}} | By {{ids.author|capfirst}}
            </p>
        </div>
    </div>

</div>


{% endblock %}




